* {
  margin: 0;
  padding: 0;
}

:root {  
  --pblack: #121212;
  --pgrey: #E5E5E5;
  --porange: #E26746;
  --porangeactive: #FF7460;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--pblack);
}

@font-face {
  font-family: 'stretch_proregular';
  src: url('stretchproregular-webfont.woff2') format('woff2'), url('stretchproregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


h1 {
  font-family: 'Stretch Pro';
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  color: var(--porange);
}

h2 {
  font-family: 'Stretch Pro';
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  color: var(--pgrey);
}

p {
  font-family: 'Arial', sans-serif ;
  line-height: 1.4;
  color: var(--pgrey);
}
/* navbar */

.navbar {
  background-color: #121212;
}

.nav-txt {
  font-family: 'Arial', sans-serif ;
  line-height: 1.4;
  color: #E5E5E5;
  text-align: center;
  text-decoration: none;
  padding: 18px;
}  

.nav-txt:hover {
  color: #E26746;
}

.offcanvas-header, .offcanvas-body {
  background-color: #121212;
}

.navbar-toggler, .btn-close {
  background-color: #E5E5E5;
}

/* hero section */

  
/* hero */
/* ! this is a h1 element that has base styles already up above */
.path-heading {
  text-align: center;
  letter-spacing: 0.105em;
  font-size: 90px;
}

.button {
  margin: 0 auto;
  color: var(--pblack);
  background-color: var(--porange);
  border: 2px solid var(--porange);
  padding: 1rem 3rem;
  font-family: 'Arial', sans-serif ;
  line-height: 1.4;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  width: 12rem;
  text-decoration: none;
  text-align: center;
}

.button:hover, .button:active {
  color: #121212;
  background-color: var(--porangeactive);
  border: 2px solid var(--porangeactive);
}

#hero {
  display: flex;
  height: 100vh;
  width: auto;
  background-color: #121212;
}

.main {
  text-align: center;
  margin: auto;
}

/* abus section */

#abus {
  height: 100%;
  width: auto;
  background-color: #121212;
}

.eighty {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
  margin: auto 0;

}
/* this is the path studio about us section */

.mabusbt, .serbtn {
  margin: 2rem 0 0 0;
  width: 30%;
}

.wallpaper {
  position: relative;
}

.med-heading {
  font-size: 48px;
}

.paragraph, .ptxt {
  font-size: 16px;
}

.whoweare {
  width: 75%;
}

/* services section  */
#services {
  display: flex;
  height: 100%;
  width: auto;
  background-color: #121212;
  flex-direction: column;
  justify-content: center;
  margin: 10rem 0;
}

.servhdr {
  margin: auto;
  text-align: center;
}

.servbot {
  text-align: center;
}

.log {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.value {
  width: 20%;
}

.pbldhdr {
  font-weight: bold;
}

/* projex section  */
#projex {
  display: flex;
  height: 100%;
  width: auto;
  background-color: #121212;
  flex-direction: column;
  justify-content: center;
  margin: 10rem 0;
}


.card {
  background-color: #1C1C1E;
  border-radius: 0.25rem;
}

.card:hover {
  transform: scale(0.95);
}

.cdt {
  font-family: 'Arial', sans-serif ;
  line-height: 1.4;
  color: var(--pgrey);
  font-weight: bold;
}

.card-text {
  font-family: 'Arial', sans-serif ;
  line-height: 1.4;
  color: var(--pgrey);
}

.shrink-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.shrink-on-hover:hover, .shrink-on-hover:focus, .shrink-on-hover:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.mano {
  border: 0.5px solid var(--pgrey);
  width: 100%;
}

.mano:hover, .mano:focus {
  border: 0.5px solid var(--porangeactive);
  background-color: #121212;
}

.Izquierda {
  color: var(--pgrey);
}


/* responsive design */

@media (max-width: 28.75em) {
  /* fontsize  */

  .path-heading{
    font-size: 35px;
  }

  .med-heading{
    font-size: 40px;
    text-align: center;
  }

  .cdt, .pbldhdr {
    font-family: 'Arial', sans-serif ;
    line-height: 1.4;
    color: var(--pgrey);
    font-weight: bold;
    font-size: 20px;
  }

  .paragraph, .cdpt {
    font-size: 16px;
    padding: 0 2.5%;
  }

  .ptxt {
    font-size: 16px;
  }
  /* end of font sizes */

  .whoweare {
    width: 100%;
  }
  

  .eighty {
    display: flex;
    flex-direction: column;
  }

  .wallpaper {
    margin: 2.5rem 0 10rem;
    max-width: 97.5%;
  }

  .log {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem 0;
  }

  .value {
    width: 100%;
    padding: 5%;
  }

  /* buttons */

  .button {
    margin: auto;
    width: 100%;
    max-width: 97.5%;
  }

  .carcon {
    padding: 0 5%;
  }

}